exportPattern("^[[:alpha:]]+")
useDynLib(ooc, .registration=TRUE)
import(stats, pscl, MCMCpack, aspace, hitandrun, KRLS)
importFrom("grDevices", "dev.new")
importFrom("graphics", "par", "plot", "points", "segments")
importFrom("stats", "na.omit", "quantile", "runif")
importFrom("utils", "read.table")
